// Define variables for your color scheme

// For example:
$red: #EA4C4C;
$blue: #3090A1;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$link-gray: #616668;
$link-hover: #da552f;
$dropdown-color: #999999;
$dropdown-border-color: #E6E6E6;
